@page "/"

@if(bosses!=null) {
    <select @onchange="@BossChanged">
        <option value="-1">Select boss</option>
        @foreach(var boss in bosses) {
            <option value="@boss.Id">@boss.Name</option>
        }
    </select>

    <select @onchange="MeasureChanged">
        <option>Basic</option>
        <option>Defensive</option>
        <option>Mechanic</option>
        <option>Healing</option>
        <option>Ranking</option>
    </select>
}

@if(players!=null) {
    <table>
        <tr><th>Name</th><th>Farm</th><th>Progress</th>
        @foreach(var header in GetHeaders()) {
            <th colspan="2">@header</th>
        }
        @if(MeasureType==Model.MeasureType.RANKING) {
            <th colspan="3">DPS</th>
            <th colspan="3">HPS</th>
        }
        </tr>
        <tr><th></th><th></th><th></th>
        @foreach(var header in GetHeaders()) {
            <th>Total</th>
            <th>Per fight</th>
        }
        @if(MeasureType==Model.MeasureType.RANKING) {
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
        }
        </tr>
    @foreach(var player in players) {
        var statistics = GetStatistics(player.Id);
        if(statistics != null && statistics.Data != null && statistics.Data.ContainsKey("Farm")) {
            <tr><td>@player.Name</td>
            <td>@GetValue(statistics, "Farm")</td>
            <td>@GetValue(statistics, "Progress")</td>
            @foreach(var header in GetHeaders()) {
                @if(statistics.Data.ContainsKey(header)) {
                    <td>@GetValue(statistics, header)</td>
                    <td>@GetValuePerEncounter(statistics, header)</td>
                } else {
                    <td></td>
                    <td></td>
                }
            }
            @if(MeasureType==Model.MeasureType.RANKING) {
                <td>@GetMinRank(player, Model.RankingType.DPS)</td>
                <td>@GetAverageRank(player, Model.RankingType.DPS)</td>
                <td>@GetMaxRank(player, Model.RankingType.DPS)</td>
                <td>@GetMinRank(player, Model.RankingType.HPS)</td>
                <td>@GetAverageRank(player, Model.RankingType.HPS)</td>
                <td>@GetMaxRank(player, Model.RankingType.HPS)</td>
            }
            
            </tr>
        }
    }
    </table>
} else {
    <p>Loading</p>
}