@page "/"

@if(bosses!=null) {
    <select @onchange="@BossChanged">
        <option value="-1">Select boss</option>
        @foreach(var boss in bosses) {
            <option value="@boss.Id">@boss.Name</option>
        }
    </select>

    <select @onchange="MeasureChanged">
        <option>Basic</option>
        <option>Defensive</option>
        <option>Mechanic</option>
        <option>Consumable</option>
        <option>Ranking</option>
    </select>

    <select @onchange="EncounterTypeChanged">
        <option>Both</option>
        <option>Progress</option>
        <option>Farm</option>
    </select>

    <select @onchange="PlayerClassChanged">
        <option>All players</option>
        <option>Death Knight</option>
        <option>Demon Hunter</option>
        <option>Druid</option>
        <option>Hunter</option>
        <option>Mage</option>
        <option>Monk</option>
        <option>Paladin</option>
        <option>Priest</option>
        <option>Rogue</option>
        <option>Shaman</option>
        <option>Warlock</option>
        <option>Warrior</option>
    </select>
}

@if(players!=null) {
    <table>
        <tr><th colspan="2" @onclick="SortByName">Name</th><th @onclick="SortByFarm">Farm</th><th @onclick="SortByProgress">Progress</th>
        @foreach(var header in GetHeaders()) {
            <th colspan="2" @onclick="()=>Sort(header)">@header</th>
        }
        @if(MeasureType==Model.MeasureType.RANKING) {
            <th colspan="3" @onclick="SortByDPS">DPS</th>
            <th colspan="3" @onclick="SortByHPS">HPS</th>
        }
        </tr>
        <tr><th colspan="4"></th>
        @foreach(var header in GetHeaders()) {
            <th>Total</th>
            <th>Per fight</th>
        }
        @if(MeasureType==Model.MeasureType.RANKING) {
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
        }
        </tr>
    @foreach(var player in GetPlayers()) {
        @if(player.Class!="UNKNOWN") {
        var statistics = GetStatistics(player.Id);
        if(statistics != null && statistics.Data != null && statistics.Data.ContainsKey("Farm")) {
            <tr class="bg@(player.CssClass())">
            <td><img src="images/classes/@(player.Class.ToLower()).png" width="20px" height="20px"></td>
            <td>@player.Name</td>
            <td>@GetValue(statistics, "Farm")</td>
            <td>@GetValue(statistics, "Progress")</td>
            @foreach(var header in GetHeaders()) {
                @if(statistics.Data.ContainsKey(header)) {
                    <td>@GetValue(statistics, header)</td>
                    <td>@GetValuePerEncounter(statistics, header)</td>
                } else {
                    <td></td>
                    <td></td>
                }
            }
            @if(MeasureType==Model.MeasureType.RANKING) {
                <td>@GetMinRank(player, Model.RankingType.DPS)</td>
                <td>@GetAverageRank(player, Model.RankingType.DPS)</td>
                <td>@GetMaxRank(player, Model.RankingType.DPS)</td>
                <td>@GetMinRank(player, Model.RankingType.HPS)</td>
                <td>@GetAverageRank(player, Model.RankingType.HPS)</td>
                <td>@GetMaxRank(player, Model.RankingType.HPS)</td>
            }
            
            </tr>
        }
        }
    }
    </table>
} else {
    <p>Loading</p>
}